#map {
  width: 100%;
  height: 80vh;
}

.token {
  position: relative;
  width: 32px;
  height: 32px;
}

.token img {
  width: 100%;
  height: 100%;
}

.token span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  font-weight: 700;
  color: white;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
  pointer-events: none;
  user-select: none;
}

.held-token {
  position: absolute;
  bottom: 12px;
  left: 12px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 52px 24px;
  border-radius: 8px;
  font-weight: 700;
  z-index: 1000;
  font-size: 24px;
}

.move-buttons {
  position: absolute;
  bottom: 12px;
  right: 12px;
  display: grid;
  grid-template-areas:
    ". up ."
    "left down right";
  grid-template-columns: 48px 48px 48px;
  grid-auto-rows: 48px;
  gap: 8px;
}

.move-button {
  background: #023770;
  color: white;
  padding: 8px;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  font-size: 18px;
  width: 48px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.up-button {
  grid-area: up;
}
.down-button {
  grid-area: down;
}
.left-button {
  grid-area: left;
}
.right-button {
  grid-area: right;
}
