#map {
  width: 100%;
  height: 80vh;
}

.token {
  position: relative;
  width: 32px;
  height: 32px;
}

.token img {
  width: 100%;
  height: 100%;
}

.token span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  font-weight: 700;
  color: white;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
  pointer-events: none;
  user-select: none;
}
